
.form-box {
	padding: 30px 30px 10px 30px;
  	background: #e6e6e6;
  	width: 100%;
  	max-width: 400px;
  	margin: 30px auto;
  	position: relative;
}

.form.loading:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(images/loader.gif) center no-repeat;
}

.form__box {
 	margin-bottom: 15px;
}

.form__box--tac {
	text-align: center;
}

.form__field {
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.form__field_error {
 	border-color: #c30000;
}